#main{
	height: auto;
	background: #FFF;
	position: relative;
}
.main-rightMain{
	width: 900px;
	min-height: 831px;
	margin:0 auto;
	overflow:hidden;
}
.pengbei-list{
	overflow:hidden;
}
.list-left{
	width: 510px;
	float: left;
}
.list-left #rdxw{
	border-bottom: 3px solid #ff008a;
}
.list-left #bbfc{
	border-bottom: 3px solid #ff9d55;
}
.list-left #hdkj{
	border-bottom: 3px solid #ff8fee;
}
.list-left #czzl{
	border-bottom: 3px solid #c66b00;
}
.list-left #cysh{
	border-bottom: 3px solid #00e7ea;
}
.list-left #cgxy{
	border-bottom: 3px solid #00bf3f;
}
.list-left .crumbs h1 {
	font-size: 18px;
	color: #333333;
}
.list-left .crumbs h1 a{
	font-size: 20px;
	color: #333333;
}
/*.list-left .crumbs h1 span{
	position: absolute;
	right: 448px;
}
.list-left .crumbs h1 span a{
	color: blue;
	font-size: 14px;
	font-weight: normal;
}*/
.list-left .articletitle {
	display: none;
}
.list-left .fir-title{
	height: 60px;
}
.list-left .content{
	width: 447px;
	float: left;
	margin-top: 15px;
	padding-left: 4px;
}
.list-left .rdxw{
	border-left: 3px solid #ff008a;
}
.list-left .bbfc{
	border-left: 3px solid #ff9d55;
}
.list-left .hdkj{
	border-left: 3px solid #ff8fee;
}
.list-left .czzl{
	border-left: 3px solid #c66b00;
}
.list-left .cysh{
	border-left: 3px solid #00e7ea;
}
.list-left .cgxy{
	border-left: 3px solid #00bf3f;
}
.list-left .content .content-title{
	font: bold 19px '微软雅黑';
	color: #222222;
	text-shadow: 0 0 1px #858585;
}
.list-left .content .content_source {
	font: 14px '微软雅黑';
	margin-top: 4px;
}
.list-left .content-comment{
	display: block;
	margin-top: 18px;
	width: 38px;
	float: left;
	height: 32px;
	background: url(/images/pengbei/pengbei-bar.png) -264px 0px no-repeat;
	font: 14px '微软雅黑';
	color: #FFF;
	text-align: center;
	line-height: 24px;
}
.list-left .article{
	width: 495px;
	margin-top: 10px;
	font: 15px '微软雅黑';
	padding-bottom: 5px;
	border-bottom: 2px dotted #d9acac;
}
.list-left .article-all{
	border-bottom: none;
	margin-top: 20px;
}
.list-left .article-all p{
	margin-bottom: 10px;
	line-height: 1.6em;
}
.list-left .article .words{
	line-height: 24px;
	overflow: hidden;
	text-overflow:ellipsis;
}
.list-right{
	width: 338px;
	float: right;
	overflow:hidden;
	/*border: 1px solid;*/
}
.list-right ul li{
	background: url(/images/pengbei/pengbei-bar.png) 0px -160px no-repeat;
	padding-left: 15px;
	font: 13px '微软雅黑';
}
.list-right ul li a{
	color: #333333;
}
.list-right .list-lanmu{
	height: 130px;
	height:auto!important;
    min-height:130px;
    margin-bottom: 6px;
}
.list-right .rdxw{
	border-bottom: 3px solid #ff008a;
}
.list-right .bbfc{
	border-bottom: 3px solid #ff9d55;
}
.list-right .hdkj{
	border-bottom: 3px solid #ff8fee;
}
.list-right .czzl{
	border-bottom: 3px solid #c66b00;
}
.list-right .cysh{
	border-bottom: 3px solid #00e7ea;
}
.list-right .cgxy{
	border-bottom: 3px solid #00bf3f;
}
.list-right .list-title h2 {
	font-size: 20px;
	color: #444444;
}
.list-right .list-title h2 a{
	color: #333333;
}
.list-right .list-title h2 span{
	position: absolute;
	right: 58px;
}
.list-right .list-title h2 span a{
	color: blue;
	font-size: 14px;
	font-weight: normal;
}
.list-right .list-title span a:hover{
	color: #ff7d7d;
}

.shareto{
	padding: 20px 0px 55px 45px;
	color: #3C3C3C;
	font-weight: bold;
}
.sharetofriend{
	float: left;
	padding-right: 10px;
	line-height: 32px;
}