#main{
	height: 928px;
	background: #FFF;
	position: relative;
}
.right-hand a{
	z-index:1;
	display: block;
	width: 180px;
	height: 160px;
	position: fixed;
	right: 0px;
	bottom: 20px;
	background: url(/images/pengbei/pengbei-bar.png) -304px 0px no-repeat;
}
.main-rightMain{
	width: 769px;
	height: 904px;
	margin:0 auto;
}


.rightMain-main1{
	height: 296px;
	margin-bottom: 38px;
}

.rightMain-main2{
	height: 493px;
	/*border: 1px solid;*/
}
.main2-lanmu{
	width: 339px;
	float: left;
	/*margin-right: 40px;*/
	height: 189px;
}
.main2-lanmu-right{
	padding-left: 88px;
} 
.lanmu-title h1{
	font-size: 19.77px;
	font-weight: bold;
	color: #444444;
}
.lanmu-title h1 span{
	display: inline-block;
	margin-left: 190px;
}
.lanmu-title h1 span a{
	font-size: 14px;
	font-weight: normal;
	font-family: '微软雅黑';
}
.lanmu-rdxw{
	border-bottom: 3px solid #ff008a;
}
.lanmu-bbfc{
	border-bottom: 3px solid #ff9d55;
}
.lanmu-hdkj{
	border-bottom: 3px solid #ff8fee;
}
.lanmu-czzl{
	border-bottom: 3px solid #c66b00;
}
.lanmu-cysh{
	border-bottom: 3px solid #00e7ea;
}
.lanmu-cgxy{
	border-bottom: 3px solid #00bf3f;
}
.lanmu-rdxw h1 span a{
	color: #ff008a;
}
.lanmu-bbfc h1 span a{
	color: #ff9d55;
}
.lanmu-hdkj h1 span a{
	color: #ff8fee;
}
.lanmu-czzl h1 span a{
	color: #c66b00;
}
.lanmu-cysh h1 span a{
	color: #00e7ea;
}
.lanmu-cgxy h1 span a{
	color: #00bf3f;
}
.lanmu-content{
	margin:10px 0 0 0;
}
.lanmu-content img{
	width: 106px;
	height: 78px;
	float: left;
	margin-right: 8px;
}
.main2-lanmu ul li{
	background: url(/images/pengbei/pengbei-bar.png) 0px -160px no-repeat;
	padding-left: 15px;
	font-size: 14px;
	
}
.main2-lanmu ul li a{
	color: #333333;
	font-family: "微软雅黑";
	/*font-weight: bold;*/
}
.rightMain-main3{
	margin: 5px 0 0 0;
	height: 549px;
	background: url(/images/pengbei/pengbei-linbg.png);
}
.penbei-hezuodanwei{
	font-size: 20px;
	font-weight: bold;
	color: #121212;
}
.xueyuanLink{
	width: 736px;
	height: 217px;
	margin-left: 135px;
}
.xueyuanLink .leftLink{
	width: 195px;
	margin:17px 0 0 30px;
	float: left;
}
.xueyuanLink .centerLink{
	width:176px;
	float: left;
	margin-top: 17px;
}
.xueyuanLink .rightLink{
	width: 163px;
	float: left;
	margin-top: 17px;
}
.xueyuanLink li{
	margin: 0 0 5px 0;
}
.xueyuanLink li a{
	font-size: 14px;
	font-weight: bold;
	color: #121212;
}
.xueyuanLink li a:hover{
	color: #ffad43;
}
.pengbei-hezuodanwei h2{
	margin-left: 145px;
}
.youqinglink{
	margin-top: 15px;
}
.youqinglink h2{
	font-size: 20px;
	color: #CCC;
	margin-left: 110px;
}
.link-list{
	margin: 20px 0 0 153px;
	height: 30px;
}
.link-list ul li{
	width:100px;
	float: left;
	margin: 0 0 0 10px;
}
.link-list ul li a{
	font-size: 16px;
	font-weight: bold;
	color: #CCC;
}
.link-list ul li a:hover{
	color: #ffad43;
}

/* 默认幻灯片 */
.FocusPic {zoom:1;position:relative; overflow:hidden}
.FocusPic .content{overflow:hidden;position: relative;}
.FocusPic .changeDiv a{position:absolute;top:0px;left:0px;display:none;}
.FocusPic .title-bg,.FocusPic .title{background:none;position:absolute;left:0px; bottom:0px;width:530px; text-align:center;height:30px;line-height:30px;overflow:hidden}
.FocusPic .title-bg{background:#000;filter:alpha(opacity=50);opacity:0.5;}
.FocusPic .title a{display:block;color:#fff; font-size:14px;}
.FocusPic .change{bottom:25px;height:20px;right:40px;*right:5px;_right:4px;position:absolute;text-align:right;z-index:100;}
/*.FocusPic .change{bottom:34px;height:20px;right:172px;*right:5px;_right:4px;position:absolute;text-align:right;z-index:100;}*/
.FocusPic .change i {background:rgba(102, 102, 102, 0.75);color:#FFF;cursor:pointer;font-family:Arial;font-size:12px;line-height:15px;margin-right:2px;padding:2px 6px; font-style:normal; height:15px;display:inline-block;display:-moz-inline-stack;zoom:1;*display:inline;}
.FocusPic .change i.cur {background:rgba(0, 194, 255, 0.55);}
.FocusPic .change i.cur a {color:#FFFFFF;}
.FocusPic .change a {color:#222;}