* {
    color: #fff;
}

#nav {
    opacity: 0;
    filter: alpha(opacity=0);
}

#loading {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -50px;
    height: 100px;
    width: 200px;
    text-align: center;
}

.loading-char {
    color: #cfcfcf;
    font-size: 20px;
    display: inline;
}

#content {
    height: 430px;
    width: 100%;
    display: block;
    line-height: 100%;
    padding-bottom: 220px;
    background-color: #2dbdba;
}

.background {
    position: absolute;
    height: 341px;
    width: 100%;
    left: 50%;
    margin-left: -50%;
    opacity: 0;
    filter: alpha(opacity=0);
}

.background-1 {
    z-index: 3;
    margin-left: -40%;
    top: 180px;
    background: url(../../images/pengbei/background-layer-1.png) no-repeat 50% 50%;
}

.background-2 {
    z-index: 2;
    margin-left: -60%;
    top: 180px;
    background: url(../../images/pengbei/background-layer-2.png) no-repeat 50% 50%;
}

.background-3 {
    margin-left: -60%;
    top: 180px;
    z-index: 1;
    background: url(../../images/pengbei/background-layer-3.png) no-repeat 50% 50%;
}

#top {
    height: 296px;
    left: 0px;
    position: absolute;
}

#top > li {
    float: left;
}

#top > li > a > img {
    width: 420px;
    height: 260px;
}

.top-link {
    background: rgba(0, 0, 0, 0.6) !important;
    filter: Alpha(opacity=60);
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    padding: 15px 20px;
    width: 440px;
    overflow: hidden;
}

#link {
    display: inline-block;
    width: 400px;
    line-height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#count {
    line-height: 100%;
    width: 40px;
    float: right;
}

#ul #phone {
    width: 560px;
    height: 300px;
    left: 274px;
    top: 110px;
    z-index: 4;
    position: relative;
    background: url(../../images/pengbei/phones.png);
}

#phone #new-content {
    position: absolute;
    width: 420px;
    height: 260px;
    top: 21px;
    left: 73px;
    background: #000;
    overflow: hidden;
}

#new-content > div {
    width: 40px;
    height: 60px;
    z-index: 6;
    position: absolute;
    top: 50%;
    cursor: pointer;
    margin-top: -20px;
}

#new-content > div#prev {
    left: 15px;
    background: url(../../images/pengbei/prev.png);
}

#new-content > div#next {
    right: 15px;
    background: url(../../images/pengbei/next.png);
}

#ul {
    width: 1100px;
    height: 380px;
    margin: 0 auto;
    position: relative;
    top: 170px;
    z-index: 4;
}

#ul > li {
    float: left;
}

#ul > li, #ul > li > div {
    width: 220px;
    height: 340px;
}

.list > div > ul {
    float: left;
}

.list > div > ul.left-list > h1 {
    font-size: 22px;
    font-weight: 500;
}

.list > div > ul.left-list > li {
    width: 32px;
    height: 28px;
    float: left;
    padding-right: 12px;
    margin: 5px 0;
}

.list > div > ul.left-list > li > a {
    cursor: pointer;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
}

.list > div > ul.left-list > li.active > a {
    color: #2105c7;
}

.list > div > ul.title-list {
    background: rgba(255, 255, 255, 0.8) !important;
    filter: Alpha(opacity=80);
    background: #fff;
    width: 220px;
    height: 340px;
    padding: 10px 5px;
    border-radius: 8px;
}

.list > div > ul.title-list li {
    padding: 6px 0;
    border-bottom: 1px #afc9c8 solid;
}

.list > div > ul.title-list > li > div > span > a {
    font-size: 14px;
    line-height: 20px;
    color: #1b2121;
    letter-spacing: 1px;
    width: 183px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list > div > ul.title-list > li > div > span.date {
    color: #1b2121;
    position: relative;
    top: -5px;
    *+top: 0px;
}

.xinwen.list {
    position: absolute;
    left: 0;
}

.zixun.list {
    position: absolute;
    right: 0;
}

#footer-link {
    width: 100%;
    position: relative;
    background-color: #658e9c;
}

#footer-link > ul {
    padding-top: 14px;
    height: 86px;
    width: 900px;
    margin: 0 auto;
}

#footer-link > ul > li {
    float: left;
    width: 150px;
}

#footer-link > ul > li > a {
    font-size: 12px;
    color: #ffffff;
    line-height: 18px;
}

#full {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    cursor: pointer;
}

#bg {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6) !important;
    filter: Alpha(opacity=60);
    background: #fff;
    z-index: 9999;
}

#full-ul {
    width: 1040px;
    height: 600px;
    padding-top: 40px;
    position: absolute;
    top: 80px;
    left: 50%;
    z-index: 10000;
    margin-left: -520px;
}

#close {
    width: 40px;
    height: 40px;
    background: url(../../images/pengbei/close.png);
    position: absolute;
    right: -20px;
    top: 0;
    cursor: pointer;
}

#full-ul > li {
    float: left;
    padding: 20px;
    width: 204px;
    height: 240px;
    border-radius: 10px;
    margin: 8px;
    background-color: #e7ebeb;
}

#full-ul > li > ul > li > p {
    font-size: 24px;
    color: #747474;
}

#full-ul > li > ul > li > div > span {
    font-size: 14px;
    color: #747474;
}

#full-ul > li > ul > li > div > span > a {
    font-size: 14px;
    color: #747474;
}

#full-ul > li > ul > li > div > span > a {
    width: 154px !important;
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#full-ul > li > ul > li > div > span.date {
    position: relative;
    top: -5px;
    *+top: 0px;
}