body{
	background-image: url(../../images/pengbei/background-large.png);
	position: relative;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
*{
	color: #000;
}
#loading{
	display: none;
}
#nav{
	opacity: 1;
}
#header{
	position: relative;
	height: 70px;
}
.main{
	position: relative;
	width: 100%;
}
.main ul{
	width: 100%;
	height: 78px;
}
.main ul li{
	width: 100%;
	height: 23px;
}
#bread{
	height: 32px;
}
.rung{
	background: #638c0b;
}
.main ul li div{
	width: 1000px;
	margin: 0 auto;
}
.main>ul>li>div>a{
	font-size: 18px;
	color: #000;
	line-height: 32px;
}

#move{
	width: 1000px;
	padding: 16px 0;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}
#move ul{
	width: 100%;
	height: auto;
	position: relative;
}
#vertical{
	width: 6px;
	height: 100%;
	border-radius: 2px;
	background-color: #84965c;
	position: absolute;
	top: 0;
	left: 142px;
}
#move ul li{
	width: 960px;
	height: 165px;
	margin: 11px auto;
	position: relative;
}
#move ul li div{
	position: absolute;
	display: inline-block;
}
#move ul li div.time{
	width: 100px;
	height: 20px;
	background-color: #c4d3a2;
	border-radius: 2px;
	text-align: center;
	line-height: 20px;
	font-size: 14px;
	color: #fff;
	top: 20px;
}
#move ul li div.circle{
	width: 14px;
	height: 14px;
	top: 23px;
	left: 118px;
	background: url(../../images/pengbei/sprites.png);
	background-position: 0 -215px; width: 14px; height: 14px;
}
#move ul li div.bubble{
	width: 770px;
	height: 165px;
	padding-left: 40px;
	right: 0;
	background: url(../../images/pengbei/sprites.png);
	background-position: 0 0;
}
.move>span{
	display: inline-block;
	margin-top: 26px;
	margin-right: 22px;
	margin-right: 28px;
	font-size: 16px;
	font-family: '微软雅黑';
	background-color:rgb(196,213,165);
	line-height: 20px;
	color:white;
}
.green{
	color: #638c0b;
}
.content-top{
	margin-left: 30px!important;
	display: block!important;
}
.content-top a{
	display: inline;
	font-size: 18px;
	line-height: 66px;
	font-weight: 100;
}
.content-top span{
	line-height: 66px;
	font-size: 16px;
	font-weight: 100;
}
.content p{
	width: 742px;
	margin-top: 60px;
	*+padding-top: 60px;
	text-indent: 2em;
	line-height: 24px;
	font-size: 14px;
	line-height: 28px;
}
.content p span a{
	font-size: 14px;
	line-height: 28px;
}
.longtitle{
    width: 300px!important;
    overflow: hidden;
}

/*分页*/
#list-fenye { height: 20px; width: 100%; margin: 20px auto; }
#list-fenye li { width: auto; font-size:11px; float:left; }
#list-fenye a { border:solid 1px #638c0b;  margin-right:2px; }
#list-fenye .previous-off,#list-fenye .next-off { color:#666666; display:block; float:left; font-weight:bold; padding:3px 4px; }
#list-fenye .next a,#list-fenye .previous a { font-weight:bold; border:solid 1px #638c0b; }	
#list-fenye .active { color:#3C3C3C; font-weight:bold; display:block; float:left; padding:4px 6px; }
#list-fenye a:link, #list-fenye a:visited { color:#0063e3; display:block; float:left; padding:3px 6px; text-decoration:none; }
#list-fenye a:hover { border:solid 1px #BBB; background:#0063DC; color:#FFF; }